src/main/java/oracle/cep/service/CEPLoad.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/cep" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CEP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CEP_LOAD">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CEP_DDL" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="CEP_UNLOAD">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="CEP_DDL" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="CEP_DDL" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
